<ion-header> 
  <ion-toolbar> 
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/products"></ion-back-button> 
    </ion-buttons> 
    <ion-title>Product detail</ion-title> 
  </ion-toolbar> 
</ion-header> 

<ion-content> 
  <div *ngIf="isLoading" class="ion-text-center ion-padding"> 
    <ion-spinner></ion-spinner> 
    <p>Cargando detalles...</p> 
  </div> 

  <div *ngIf="errorMessage" class="ion-text-center ion-padding"> 
    <ion-text color="danger">{{errorMessage}}</ion-text> 
  </div> 

  <div *ngIf="product && !isLoading"> 
    <ion-list lines="none"> 
      <ion-item> 
        <ion-label>
          <!-- Carrusel de imágenes integrado con el contenido -->
          <div class="image-carousel" *ngIf="product?.imagen1"> 
            <div class="carousel-wrapper"> 
              <img *ngIf="product.imagen1" [src]="product.imagen1" class="carousel-image" alt="Imagen 1"> 
              <img *ngIf="product.imagen2" [src]="product.imagen2" class="carousel-image" alt="Imagen 2"> 
              <img *ngIf="product.imagen3" [src]="product.imagen3" class="carousel-image" alt="Imagen 3"> 
              <img *ngIf="product.imagen4" [src]="product.imagen4" class="carousel-image" alt="Imagen 4"> 
            </div> 
          </div>

          <!-- Información del producto -->
          <h1>{{product.nombre}}</h1> 
          <p class="location"> 
            <ion-icon name="location-outline"></ion-icon> 
            {{product.ubicacion}} 
          </p> 
          <ion-card-content>
            <p><strong>Precio:</strong> {{ product.precio }} USD</p>
            <p><strong>Ubicación:</strong> {{ product.ubicacion }}</p>
            <p><strong>Publicado:</strong> {{ product.publicado }}</p>
            <p><strong>Descripción:</strong> {{ product.descripcion }}</p>
          </ion-card-content>
          <div class="pay-button-container">
            <ion-button (click)="goToShipment()">
              Pay
            </ion-button>
          </div>
        </ion-label> 
      </ion-item> 
    </ion-list>    
  </div>
</ion-content>
